<mat-toolbar color="primary"  >
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Fohama</h1>
</mat-toolbar>
<mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
        
            <a mat-list-item routerLink="/transformadores" (click)="onSidenavClose()">
                <mat-icon>android</mat-icon> <span class="nav-caption">Transformadores</span>
            </a>
            <a mat-list-item routerLink="/empleados" (click)="onSidenavClose()">
                <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Empleados</span>   
            </a>
            <a mat-list-item routerLink="/clientes" (click)="onSidenavClose()">
                <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Clientes</span>   
            </a>
            <a mat-list-item  (click)="logout()">
                <span class="nav-caption">logout</span>
            </a>
        
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>    
    </mat-sidenav-content>
</mat-sidenav-container>


<!-- <router-outlet></router-outlet> -->