html,body{
    height:2000px;
}

mat-form-field{
    width:80%;    
}

mat-grid-list{
    margin-top:80px;
}

.disabledButton {
    pointer-events: none;
    opacity: 0.4;
}

.titulo{
    background:darkcyan;
    /* -webkit-box-shadow: 1px 4px 7px 0px rgba(59, 58, 58,0.75);
    -moz-box-shadow: 1px 4px 7px 0px rgba(59, 58, 58,0.75); */
    box-shadow: inset 1px 4px 7px 0px rgba(59, 58, 58, 0.75);
    color:whitesmoke;
    height:60px;
    padding: 10px;
};

mat-table{
    width:100%;
}
  .mat-column-position{
      width:100vw;
  }

  th.mat-header-cell {
    text-align: center !important;
  }