<mat-card class="titulo">
    <mat-card-header>
        <mat-card-title style="line-height:60px;">Temporizador</mat-card-title>
    </mat-card-header>
    <br>
</mat-card>
<!-- <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [rowspan]="1" [colspan]="1">
        <mat-form-field [ngClass]="{'disabledButton': class==true}">
            <mat-label>Transformador</mat-label>
            <mat-select [(value)]="transfo" (selectionChange)="select(transfo)">
                <mat-option *ngFor="let g of comboTransfo" [value]="g" style="width:100%;">
                    {{g.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
        <button mat-fab color="primary" *ngIf="play" id="start" (click)="start()" >
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-fab color="primary" *ngIf="isPause" (click)="pause()" >
            <mat-icon>pause</mat-icon>
        </button>
        <button mat-fab color="primary" *ngIf="isStop" (click)="stop()" >
            <mat-icon>close</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">     
        <mat-form-field [ngClass]="{'disabledButton': class==true}">
            <mat-label>Proceso</mat-label>
                <mat-select [(value)]="proceso">
                <mat-option *ngFor="let f of comboTipoEtapa" [value]="f" >
                    {{f.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Tiempo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>{{tiempoReloj}}</div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1">
        <mat-form-field [ngClass]="{'disabledButton': class==true}">
        <mat-label>Empleado</mat-label>
            <mat-select [(value)]="empleado">
                <mat-option *ngFor="let g of comboEmpleados" [value]="g" >
                    {{g.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list> 
<br>
-->


<button mat-raised-button mat-fab color="primary" (click)="addProceso()" matTooltip="agregar proceso" >
    <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position" style="width: 2000px;">
        <th mat-header-cell *matHeaderCellDef> Procesos </th>
        <td mat-cell *matCellDef="let element">    
            <mat-grid-list cols="2" rowHeight="100px">
                <mat-grid-tile [rowspan]="1" [colspan]="1">
                    <mat-form-field [ngClass]="{'disabledButton': class==true}">
                        <mat-label>Transformador</mat-label>
                        <mat-select [(value)]="transfo" (selectionChange)="select(transfo)">
                            <mat-option *ngFor="let g of comboTransfo" [value]="g" style="width:100%;">
                                {{g.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="1" [colspan]="1">
                    <button mat-fab color="primary" *ngIf="play" id="start" (click)="start()" >
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button mat-fab color="primary" *ngIf="isPause" (click)="pause()" >
                        <mat-icon>pause</mat-icon>
                    </button>
                    <button mat-fab color="primary" *ngIf="isStop" (click)="stop()" >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="1" [colspan]="1">     
                    <mat-form-field [ngClass]="{'disabledButton': class==true}">
                        <mat-label>Proceso</mat-label>
                            <mat-select [(value)]="proceso">
                            <mat-option *ngFor="let f of comboTipoEtapa" [value]="f" >
                                {{f.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="1" [colspan]="1">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Tiempo</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div>{{tiempoReloj}}</div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="1" [colspan]="1">
                    <mat-form-field [ngClass]="{'disabledButton': class==true}">
                    <mat-label>Empleado</mat-label>
                        <mat-select [(value)]="empleado">
                            <mat-option *ngFor="let g of comboEmpleados" [value]="g" >
                                {{g.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>







